<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body background="static/fundo.png">
    <header class="header">
        <img src="static/logo.png" alt="Logo da home">
        <nav>
        	<ul class="menu">
                <li><a href="/index" target="_blank" rel="noopener noreferrer">Home</a></li>|
                <li id="meio"><a href="/quem-somos" target="_blank" rel="noopener noreferrer">Quem somos</a></li>|
                <li><a href="/contato" target="_blank" rel="noopener noreferrer">Contato</a></li>|
                <li><a href="/users">Lista</a><li>
            </ul>
        </nav>
    </header>
    <div class="capa">
        <img src="static/capa.png" alt="Capa da home">
    </div>        
    <div class="texto">
        <h2>Sobre a universidade</h2>
        <p>Lorem <strong>ipsum dolor</strong> sit <em>amet</em> consectetur adipisicing elit. Consequatur ea consectetur dolorum magni sed dignissimos incidunt animi, tenetur illum facere exercitationem illo suscipit ipsam reiciendis voluptatem asperiores quos aperiam! Temporibus Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro accusamus ut odio voluptatum culpa aspernatur odit, facere corporis, molestias dolore facilis quia optio amet suscipit hic illo sequi! Assumenda, veritatis.!</p>
        <br>
        <p>Lorem <strong>ipsum dolor</strong> sit <em>amet</em> consectetur adipisicing elit. Consequatur ea consectetur dolorum magni sed dignissimos incidunt animi, tenetur illum facere exercitationem illo suscipit ipsam reiciendis voluptatem asperiores quos aperiam! Temporibus Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro accusamus ut odio voluptatum culpa aspernatur odit, facere corporis, molestias dolore facilis quia optio amet suscipit hic illo sequi! Assumenda, veritatis.!</p>
        <br>
        <p class="direito"><strong>Todos direitos reservados</strong></p>
</body>
</html>